/* ============================================= */
/*                   Variables                      */
/* ============================================= */

// Colors

$color-text: #777;

// Fonts

$font-stack-primary: 'Playfair Display', serif;


// Layout

$max-width: 1400px;

// Breakpoints

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;