.input {
  display: block;
  width: 60%;
  margin: 2em auto;
  padding: 10px;
  border: 1px solid $color-text;
  border-radius: 5px;
  background-image: url(../images/icon-small.png);
  background-position: calc(100% - 10px) 10px;
  background-repeat: no-repeat;
}

.input:hover {
  background-color: #DCDCDC;

}